body{
    font-family: sans-serif
}
.card{
    position: relative;
    width: 300px;
    border-radius: 14px;
    border: 1px solid lightgray;
    padding: 8px;
    margin: 10px auto;
    background-color: white;
}
.desp{
    position: absolute;
    font-size: small;
    text-align: right;
    bottom: 4px;
    right: 8px;
    margin-bottom: 4px;
    margin-right: 3px;
    color: rgb(133, 132, 132);
}
.card-img{
    width: 100%;
    border-radius: 14px;
}
.card-header{
    position: relative;
}
.tag{
    position: absolute;
    bottom: 0;
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 0px 10px;
    margin-bottom: 14px;
    font-size: 14px;
}
.time{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    color: black;
    padding: 3px 10px;
    border-radius: 12px;
    margin: 10px;
    font-size: 14px;
}
.promoted{
    position: absolute;
    top: 0;
    background-color: whitesmoke;
    color: gray;
    padding: 3px 10px;
    border-radius: 6px;
    margin: 8px;
    font-size: 10px;
}
.btm-img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
